*{
	padding: 0px;
	margin: 0px;
}
.home{
	padding: 0px 0px 10px 0px;
	background-color: #ffffff;
}
.control{
	box-sizing: border-box;
	display: inline-block;
	padding: 0px 0px 15px 0px;
	background-color: #cccccc;
	border: 4px solid red;
	border-radius: 20px;
	width: auto;
	height: auto;
	margin: 30px;
}
#t1{
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	font-size: 70px;
	color: red;
}
#t2{
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	color: red;
}
#t3{
	font-family: Helvetica;
	text-align: center;
	font-size: 15px;
	color: red;
}
#imagen{
	width: 250px;
	height: 200px;
	padding: 30px;
}
#back{
	border: 4px solid red;
	border-radius: 20px;
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 90%;
	height: 50px;
	cursor: pointer; 
}