<!DOCTYPE html>
<html>
<head>
	<title>403 - Forbidden</title>
	<link rel="shortcut icon" href="/static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/403.css">
</head>
<body>
	<div class="home">
		<center>
			<div class="control">
				<img id="imagen" src="/static/images/error.png" alt="imagen">
				<h1 id="t1">403</h1>
				<h1 id="t2">Forbidden</h1>
				<p id="t3">Access to this resource on the Server is denied!</p><br>
				<button id='back' onclick="window.location='/index'">HOME</button>
			</div>
		</center>
	</div>
</body>
</html>