<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>401 - Unauthorized</title>
	<link rel="shortcut icon" href="/static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
</head>
<body>
	<div class="home">
		<center>
			<div class="control">
				<img id="imagen" src="/static/images/error.png" alt="imagen">
				<h1 id="t1">401</h1>
				<h1 id="t2">Unauthorized</h1>
				<p id="t3">Sorry, your request could not be processed.</p><br>
				<button id='back' onclick="window.location='/'">Return</button>
			</div>
		</center>
	</div>
</body>
</html>